node_modules/
.expo/
.husky/
dist/
ios/
android/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
coverage/**/*

# macOS
.DS_Store

# IDE
.vscode/
.idea/

#env
.env

package-lock.json

#firebase
google-services.json
GoogleService-Info.plist
