node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
coverage/**/*

# environment
.env

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

google-services.json
GoogleService-Info.plist
pc-api-7603760352208588036-950-a84f02e89339.json